*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ----------------------------------------- */
/* Apps main-page styling */
/* ----------------------------------------- */

.main-bg {
  height: 300px;
  background-size: cover;
  background-position: center;
  /* background-image: url('../images/bg.png'); */
}

.site-name {
  font-weight: 500;
}

.product-card {
  margin-top: 50px;
  text-align: center;
}

.add-btn,
.add-btn:hover {
  border: 1px solid #333;
  font-size: 0.8rem;
}

.add-btn:hover {
  background-color: #f4f4f4;
}

.product-image:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.button-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.product-row {
  display: flex;
  align-items: flex-end;
}

/* ----------------------------------------- */
/* Details styling */
/* ----------------------------------------- */

.alert-warning-custom {
  border: none;
  background: -webkit-linear-gradient(to right, #e57373, #d500f9);
  background: linear-gradient(to right, #e57373, #d500f9);
  color: #fff;
}

.nav-link {
  color: #333;
}

.tab-content-header {
  margin: 20px 0 20px 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.tab-content {
  padding: 10px;
}

/* ----------------------------------------- */
/* Details transition styling */
/* ----------------------------------------- */

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}

/* ----------------------------------------- */
/* Cart styling */
/* ----------------------------------------- */

.cart-bg {
  background: #e0e0e0;
  min-height: 100vh;
}

.cart-top {
  margin-top: 50px;
}

.img-fluid {
  margin-right: 20px;
}

.section-title {
  font-weight: 600;
}

.count-btn {
  border-style: none;
  background-color: #fff;
  margin: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

.item-count {
  border: 1px solid #e0e0e0;
  padding: 4px;
}

/* ----------------------------------------- */
/* Footer styling */
/* ----------------------------------------- */

.footer {
  border-top: 1px solid #4200ff;
  margin: 3rem 7rem 0 7rem;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
}
.footer .footer-site-logo {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}
.footer .footer-site-logo a {
  color: #4200ff;
}
.footer .nav-links {
  padding: 0;
  margin: 0;
}
.footer .nav-links li {
  display: inline-block;
}
.footer .nav-links li a {
  padding: 10px;
  color: #000;
}
.footer .nav-links li a:hover {
  color: #4200ff;
}
.footer .social h3 {
  font-weight: bold;
  font-size: 18px;
  color: #000;
}
.footer .social ul li {
  display: inline-block;
}
.footer .social ul li a {
  display: inline-block;
  padding: 10px;
}
.footer .social ul li.in a {
  color: #df588a;
}
.footer .social ul li.tw a {
  color: #15b8ff;
}
.footer .social ul li.fb a {
  color: #3742d0;
}
.footer .social ul li.dr a {
  color: #fa38c1;
}
.footer .social ul li.pin a {
  color: #dd4d5a;
}
.footer .copyright {
  color: #999999;
}

/* ----------------------------------------- */
/* Footer Icons styling */
/* ----------------------------------------- */

@font-face {
  font-family: 'icomoon';
  src: url('./fonts/icomoon.eot?10si43');
  src: url('./fonts/icomoon.eot?10si43#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?10si43') format('truetype'),
    url('./fonts/icomoon.woff?10si43') format('woff'),
    url('./fonts/icomoon.svg?10si43#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: '\f16d';
}

.icon-facebook:before {
  content: '\f09a';
}
.icon-facebook-f:before {
  content: '\f09a';
}

.icon-facebook-official:before {
  content: '\f230';
}

.icon-facebook-square:before {
  content: '\f082';
}

.icon-twitter-square:before {
  content: '\f081';
}

.icon-twitter:before {
  content: '\f099';
}

.icon-pinterest:before {
  content: '\f0d2';
}

.icon-pinterest-square:before {
  content: '\f0d3';
}

.icon-pinterest-p:before {
  content: '\f231';
}

.icon-dribbble:before {
  content: '\f17d';
}
