*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ----------------------------------------- */
/* Navbar styling */
/* ----------------------------------------- */

.top-navbar-brand {
  font-size: 1.7rem;
}

.top-navbar-brand:hover {
  cursor: pointer;
}
.top-nav-item {
  font-weight: 500;
}
.top-nav-item:hover {
  font-weight: 700;
  cursor: pointer;
}

/* ----------------------------------------- */
/* Hero styling */
/* ----------------------------------------- */
.hero {
  min-height: 30rem;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center center;
}

/* ----------------------------------------- */
/* Product section styling */
/* ----------------------------------------- */
.product-card {
  margin-top: 50px;
  text-align: center;
}

.add-btn,
.add-btn:hover {
  border: 1px solid #333;
  font-size: 0.8rem;
}

.add-btn:hover {
  background-color: #f4f4f4;
}

.product-image:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.button-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.product-row {
  display: flex;
  align-items: flex-end;
}

/* ----------------------------------------- */
/* Services styling */
/* ----------------------------------------- */

.services-section {
  margin-top: 40px;
}

.services-container {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 900px) {
  .services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

.icon-box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.service-icons {
  font-size: 2rem;
}

/* ----------------------------------------- */
/* Details styling */
/* ----------------------------------------- */

.alert-warning-custom {
  border: none;
  background: -webkit-linear-gradient(to right, #e57373, #d500f9);
  background: linear-gradient(to right, #e57373, #d500f9);
  color: #fff;
}

.nav-link {
  color: #333;
}

.tab-content-header {
  margin: 20px 0 20px 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.tab-content {
  padding: 10px;
}

/* ----------------------------------------- */
/* Cart styling */
/* ----------------------------------------- */

.cart-bg {
  background: #f8f9fa;
  min-height: 100vh;
}

.cart-top {
  margin-top: 50px;
}

.img-fluid {
  margin-right: 20px;
}

.section-title {
  font-weight: 600;
}

.count-btn {
  border-style: none;
  background-color: #fff;
  margin: 10px;
  font-size: 1.4rem;
  font-weight: 600;
}

.item-count {
  border: 1px solid #e0e0e0;
  padding: 4px;
}

.cart-delete-icon:hover {
  cursor: pointer;
}

.count-btn:active {
  transform: scale(0.8);
}
.cart-delete-icon:active {
  transform: scale(0.9);
}

/* ----------------------------------------- */
/* Footer styling */
/* ----------------------------------------- */

.bg-dark {
  background-color: #000 !important;
}

.border-top {
  border-top: 1px solid #1d1d1d !important;
}

.footer {
  margin-top: 20px;
  font-size: 1.1rem;
}

.bottom-link {
  margin: 0 10px 0 10px;
}

.footer-link {
  font-size: 0.9rem;
  position: relative;
  color: #999;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:focus {
  padding-left: 0.7rem;
  color: #fff;
  text-decoration: none;
}

.footer-link:hover::before,
.footer-link:focus::before {
  opacity: 1;
}

.footer-link::before {
  content: '\f0da';
  display: inline-block;
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-40%);
  color: #fff;
  transition: all 0.3s;
  opacity: 0;
}

/* ----------------------------------------- */
/* Transition styling */
/* ----------------------------------------- */

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}
